.wrapper{
	width: 100%;
	margin: auto;
}

.clearfix{
	overflow: auto;
}


.header-wrapper{
	width: 100%;
	background-color: transparent;
	margin: auto;
	position: fixed;
	z-index: 3;
	top:30px;
}


.creativeimage-wrapper{
	width: 100%;
	margin: auto;
	position: absolute;
	top: 50.925925926%;
	background-color: rgba(192,192,192,0.1);
	z-index: 2;
}

.creativeimage-section{
	max-width: 120em;
	margin: auto;
}

.header-content{
	width: 60.9375%;
	padding: 0px 15px;
	margin: auto;
	background-color: transparent;
}

.slider-wrapper{
	width: 100%;
	margin: auto;
}

.slider-section{
	width: 100%;
	margin: auto;
	position: relative;
}


.service-wrapper{
	width: 100%;
	margin: auto;
}

.service-section{
	max-width: 120em;
	margin: auto;
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 42px; 
}

.service-contents{
	width: 62.5%;
	margin: auto;
}

.services{
	width: 30.333333333%;
	/*padding: 0px 18px;*/
	padding: 0px 1.5%;
	float: left;
}

.info-wrapper{
	width: 100%;
	margin: auto;
	background-color: #e36968;
}


.info-section{
	max-width: 120em;
	margin: auto;
}

.info-contents{
	width: 62.5%;
	margin: auto;
}

.purchasenow-wrapper{
	width: 100%;
	margin: auto;
}

.purchasenow-section{
	max-width: 100%;
	margin: auto;
	background-color: #4e449a; 
}

.sales-wrapper{
	width: 100%;
	margin: auto;
}

.sales-section{
	max-width: 120em;
	margin: auto;
	background-color: #2b2b33; 
}

.footer-wrapper{
	width: 100%;
	margin: auto;
	background-color: #1a1c28;
}

.footer-section{
	max-width: 120em;
	margin: auto;
	background-color: #1a1c28;
}

.main-footer{
	width: 62.5%;
	margin: auto;
}	

.left-footer{
	width: 50%;
	float: left;
}

.right-footer{
	width: 50%;
	float: right;
}

.footer-content{
	width: 45%;
	/*padding:0px 15px;*/
	padding: 0px 2.5%;
	float: left;
}

