@media (max-width:1024px) {
	
	.services{
		width: 46.25%;
		padding: 0px 11px;
	}

	.service-heading{
		font-size: 12px; 
		padding-left: 15px;
	}

	.service-detail{
		font-size: 12px;
	}

	.purchase-now{
		width: 100%;
	}

	.footer-content{
		width: 93%;
	}
}