@media (max-width:1024px) {
	
	.service-contents{
		width: 80%;
	}

	.services{
		width: 46%;
	}

	.service-heading{
		letter-spacing: 0px;
		font-size: 12px;
		padding: 15px 0px 13px 15px;
	}

	.service-detail p{
		line-height: 18px;
		font-size: 12px;
	}

	.info-contents{
		width: 80%;
	}

	.info-values{
		font-size: 25px;
		letter-spacing: 4px;
		padding-top: 7px; 
		padding-bottom:3px; 
	}

	.info-type{
		font-size: 12px;
		letter-spacing: 2px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.unlimited-colors, .customizable, .paralax-background{
		padding: 35px 33px 15px 33px;
	}

	.purchasenow-heading{
		padding:14px 0px;
		font-size: 14px; 
	}

	.purchasenow-paragraph p{
		line-height: 18px;
		font-size: 10px;
		font-weight: 700;
	}

	.purchasenow-button{
		font-family: Lato;
		font-size: 14px; 
		padding: 25px 0px;
	}

	.creative-site{
		padding-top: 80px;
	}

	.large-heading{
		padding: 10px 0px;
		font-size: 18px;
	}

	.small-heading{
		font-size: 12px;
		padding: 0px;
	}

	.purchase-link{
		padding: 25px 0px;
	}

	.purchase-link a{
	    line-height: 50px;
	    font-size: 16px;
	    padding: 14px 40px;
	}


	.main-footer{
		width: 80%;
	}    

	.left-footer, .right-footer{
		width: 100%;
	}

	.thebox-logo img{
		width: 80%;
	}

	.latestnews-image img{
		width: 80%;
	}

	.followus-image img{
		width: 80%;
	}

}	