@media (max-width:600px) {
	
	.service-section{
		padding-top: 50px;
	}

	.service-contents{
		width: 80%;
	}

	.services{
		width: 87%;
	}

	.service-heading{
		font-size: 14px;
		letter-spacing: 0px;
		padding-left: 10px;
	}

	.service-icon{
		padding-top: 7px; 
	}

	.service-detail p{
		font-size: 12px;
		line-height: 20px;
	}

	.info-contents{
		width: 80%;
	}

	.infos{
		width: 100%;
		padding: 30px 0px;
	}

	.info-values{
		font-size: 24px;
		letter-spacing: 3px;
		padding-top: 2px; 
		padding-bottom:2px; 

	}

	.info-type{
		font-size: 12px;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.purchase-now{
		width: 100%;
	}

	.unlimited-colors, .customizable, .paralax-background{
		padding: 43px 61px 7px 61px;
	}

	.purchasenow-heading{
		padding:8px 0px;
		font-size: 14px;
	}

	.purchasenow-paragraph p{
		line-height: 18px;
		font-size: 12px;
	}

	.sales-galary img{
		height: 300px; 
	}

	.creative-site{
		padding-top: 60px;
		width: 50%;
		left: 25%;
	}

	.large-heading{
		padding: 8px 0px;
		font-size: 20px;
	}

	.small-heading{
		font-size: 14px;
		padding: 0px;
	}


	.purchase-link{
		padding: 15px 0px;
	}

	.purchase-link a{
	    line-height: 60px;
	    font-size: 16px;
	    padding: 14px 40px;
	}    

	.left-footer{
		width: 100%;
	}

	.right-footer{
		width: 100%;
	}

	.footer-content{
		width: 87%;
	}
}