@media (max-width: 1600px){

	.header-wrapper{
		top:25px;
	}

	.header-content{
		width: 70%;
	}

	.headermenu-div{
		width: 80%;
	}

	.header-menu{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.header-menu ul li{
		padding: 0px 8px;
	}

	.header-menu ul li a{
		font-size: 14px;
		padding: 5px 7px 5px 7px;
	}

	.search-div{
		padding-top: 10px;
	}

	.service-contents{
		width: 70%;
	}

	.services{
		padding: 0px 12px;
	}

	.service-heading{
		letter-spacing: 1px;
		font-size: 14px;
		padding: 12px 0px 10px 17px;
	}

	.service-detail p{
		line-height: 24px;
		font-size: 13px;
	}

	.info-contents{
		width: 70%;
	}

	.info-values{
		font-size: 25px;
		letter-spacing: 4px;
		padding-top: 7px; 
		padding-bottom:3px; 
	}

	.info-type{
		font-size: 12px;
		letter-spacing: 2px;
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.purchasenow-heading{
		font-size: 16px;
	}

	.unlimited-colors, .customizable, .paralax-background{
		padding: 43px 41px 7px 41px;
	}

	.purchasenow-paragraph p{
		line-height: 20px;
		font-size: 13px;
	}


	.purchasenow-button{
		font-family: Lato;
		font-size: 14px; 
		padding: 25px 0px;
	}

	.purchasenow-button a{
		padding: 14px 20px;
		line-height: 40px;
	}

	.creative-site{
		padding: 110px 0px 152px 0px;
	}

	.large-heading{
		padding: 13px 0px;
		font-size: 25px;
	}

	.small-heading{
		font-size: 13px;
		padding: 0px;
	}

	.purchase-link{
		padding: 30px 0px;
	}

	.purchase-link a{
		padding: 15px 40px;
	}

	.main-footer{
		width: 70%;
	}

	.thebox-info{
		padding: 50px 0px;
	}

	.thebox-logo{
		padding: 20px 0px;
	}

	.detail-info p{
		line-height: 22px;
		font-size: 13px;
	}

	.followus{
		padding: 12px 0px;
	}

	.followus-info{
		padding: 12px 0px;
	}


	.followus-on{
		float: left;
		padding-left:8px; 
	}

	.followus-heading{
		font-size: 12px;
	}

	.followus-medium{
		font-size: 12px;
		color: #a0b4bd;
	}


	.latest-news{
		padding: 65px 0px;
	}

	.latestnews-heading{
		font-size: 20px;
		padding: 12px 0px;
	}

	.latestnews-content{
		padding: 12px 0px;
	}

	.latestnews-info{
		width: 74.074074074%;
		float: right;
		padding-left: 15px;
	}

	.latestnews-title{
		font-size: 14px;
		padding-bottom: 8px;
	}

	.latestnews-detail p{
		line-height: 20px;
		color: #676e78;
		font-size: 13px;
	}

	.latestnews-detail .date{
		color: #a6b0ba;
		font-size: 13px;
	}

	.tags-widgets{
		padding: 65px 0px 10px 0px; 
	}

	.tagswidgets-heading{
		font-size: 20px;
		padding: 12px 0px 16px 0px;
	}

	.widgets-links ul li{
		padding-bottom: 7px;
		padding-right:6px; 
	}

	.widgets-links ul li a{
		padding: 12px 6px;
		font-size: 12px;
	}

	.usefullink-heading{
		font-size: 20px;
		padding: 14px 0px;
	}

	.useful-links ul li{
		padding: 10px 0px;
	}

	.useful-links ul li a{
		font-size: 13px;
	}

	.contact-info{
		padding: 65px 0px;
	}

	.contactinfo-heading{
		font-size: 20px;
		padding-top: 12px;
		padding-bottom: 2px;
	}

	.contactinfo-content{
		padding: 18px 0px;
	}

	.contactinfo-content .title{
		line-height: 25px;
		font-size: 14px;
	}

	.contactinfo-content p{
		font-size: 11px;
		line-height: 24px;
	}
}